/* common elements */

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/dosis/dosis-regular-webfont.eot');
  src: url('../fonts/dosis/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dosis/dosis-regular-webfont.woff') format('woff'), url('../fonts/dosis/dosis-regular-webfont.ttf') format('truetype'), url('../fonts/dosis/dosis-regular-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,body {
  font-family: Dosis;
  height:100%;
}

html, body {
    height: 100%;
    width: 100%;
}
#page {
    height: 100%;
    height: auto !important;
    min-height: 100%;
}
#sticky-footer-wrap {
    overflow: auto;
    padding-bottom: 50px; /*relatif au height total du footer*/
}
.site-main {
    overflow: hidden;
    height: 100%;
}
footer {
    position: relative;
    height: 50px;
    margin-top: -50px; /*relatif au height total du footer*/
    clear: both;
    color:#e27206;
  	background-color:#f9e3cc;
  	border-bottom :5px solid #e27206;
}






.column {
	min-height:100%;
	display: table-row;
}
/*
footer {
  padding:10px 0px 5px 0px;
  text-align:center;
  color:#e27206;
  background-color:#f9e3cc;
  border-bottom :5px solid #e27206;
  clear: both;
}
*/
#main-menu {
  background:#F4F4F4;
  padding:10px 0px;
  text-align: center;
  border-right:1px solid #eee;
}

#main-menu h4 {
  color:#e27206;
  font-size:1.5em;
  text-transform: uppercase;
  font-weight:normal;
}

#main-menu nav {
  margin:20px 0px;
}

#main-menu nav a {
  display:inline-block;
  float:left;
  width:100%;
  padding:7px 0px 7px 15px;
  color:#565656;
  text-align: left;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

#main-menu nav a:hover,
#main-menu nav a.actif {
  background-color:#3498DB;
  color:#fff;
}

#main-menu nav a+a {
  border-top:0px;
}

#main-menu .menu-sub {
	padding-left : 20px;
	font-size: 12px;
}




/* ZONE rent cart */
#rent-status{
	background:#F4F4F4;
}
#rent-status ul{
	list-style: none;
	padding: 0;
	overflow: hidden;

}
#rent-status ul li{
	display: block;
	border-bottom: 1px solid #CCC;
}
#rent-status ul li p{
	margin: 0;
}
#rent-status .cart_actions {
	float: right;
}